<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<h1>Inicio</h1>
	<a th:href="@{/agregar}">Crear Persona</a>
	<div th:if="${personas != null and !personas.empty}">
		<table border="1">
			<tr>
			<th>idPersona</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Telefono</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
			<tr th:each="persona : ${personas}">
			<td th:text="${persona.id_Persona}">Mostrar ID</td>
				<td th:text="${persona.Nombre}">Mostrar Nombre</td>
				<td th:text="${persona.apellido}">Mostrar Apellido</td>
				<td th:text="${persona.email}">Mostrar Email</td>
				<td th:text="${persona.telefono}">Mostrar Telefono</td>
				<td><a th:href="@{/editar/} + ${persona.id_Persona}" th:text="Editar"/></td>
				<td><a th:href="@{/eliminar/} + ${persona.id_Persona}" th:text="Eliminar"/></td>
			</tr>
		</table>
	</div>
	<div th:if="${personas == null or personas.empty}">La lista de
		personas esta vacia	
	</div>
</body>
</html>