<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/19999 
">
<head>
<meta charset="UTF-8">
<title>Datos de la Persona</title>
</head>
<body>
	<h1>Datos de la persona</h1>
	<a th:href="@{/}">Regresar</a>
	<br/>
	<form th:action="@{/guardar}" method="post" th:object="${persona}" >
	<input type="hidden" name="id_Persona" th:field="*{id_Persona}"/>
	<br/>
	<label for="nombre">Nombre:</label>
	<input type="text" name="nombre" th:field="*{nombre}"/>
	<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
	<br/>
	<label for="nombre">Apellido:</label>
	<input type="text" name="apellido" th:field="*{apellido}"/>
	<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Nombre</span>
	<br/>
	<label for="nombre">Email:</label>
	<input type="text" name="email" th:field="*{email}"/>
	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Nombre</span>
	<br/>
	<label for="nombre">telefono:</label>
	<input type="tel" name="telefono" th:field="*{telefono}"/>
	<br/>
	<input type="submit" name="guardar" value="Guardar"/>
	
	
	
	</form>
</body>
</html>